.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 32px;
}

.cardWrapper {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  display: flex;
}

.card {
  flex: 1;
  height: 125px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  background-color: var(--ifm-background-surface-color);
  border: 1px solid #2d2f30;
  border-radius: 12px;
  padding: 33px;
  text-align: left;
  transition: all 0.2s ease;
  text-decoration: none;
  box-shadow: var(--ifm-global-shadow-lw);
}

/* Quand l’écran devient trop petit : on passe à 1 colonne */
@media (max-width: 600px) {
  .cardsGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    max-width: 100%;
    min-width: 0;
  }
}

.card:hover {
  border-color: #d94d4c; /* rouge accent */
  box-shadow: var(--ifm-global-shadow-md);
}

.card h3 {
  margin: 0 0 24px 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--ifm-color-content) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  color: var(--ifm-color-content-secondary);
  font-size: 0.9rem;
  margin: 0;
}

.inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
}