.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.cardContainer {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--ifm-color-emphasis-800);
  background: var(--ifm-card-background-color);
  padding: 1.5rem !important;
  transition: all var(--ifm-transition-fast) ease;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 #0003;
}


a:hover {
    color: var(--ifm-link-hover-color);
    text-decoration: var(--ifm-link-hover-decoration);
}

.cardTitle {
    font-size: 1.2rem;
}

.cardDescription {
    font-size: 0.8rem;
}

.text--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

