/* TITRE */
.cardTitle {
  font-size: 1.2rem;
  font-weight: var(--ifm-heading-font-weight);
  color: var(--ifm-color-content);
  margin: 0 0 12px 0;
}

/* TRONQUAGE HORIZONTAL */
.text--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  display: block;
  height: 125px;
  padding: 33px;

  background: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 12px;
  box-shadow: 0 1.5px 3px 0 #00000026;

  text-decoration: none !important;
  transition: border-color .2s ease, box-shadow .2s ease;
}

/* Quand l’écran devient trop petit : on passe à 1 colonne */
@media (max-width: 600px) {
  .cardsGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card {
    max-width: 100%;
    min-width: 0;
  }
}

.card:hover {
  border-color: #d94d4c; /* rouge accent */
  box-shadow: 0 1.5px 6px 0 #00000060;
}

.card h3 {
  margin: 0 0 12px 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--ifm-color-content) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  color: var(--ifm-color-content-secondary);
  font-size: 0.9rem;
  margin: 0;
}

.inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
}