/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d94d4c;
  --ifm-color-primary-dark: #d94d4c;
  --ifm-color-primary-darker: #d94d4c;
  --ifm-color-primary-darkest: #d94d4c;
  --ifm-color-primary-light: #d94d4c;
  --ifm-color-primary-lighter: #d94d4c;
  --ifm-color-primary-lightest: #d94d4c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d94d4c0;
  --ifm-color-primary-dark: #d94d4c;
  --ifm-color-primary-darker: #d94d4c;
  --ifm-color-primary-darkest: #d94d4c;
  --ifm-color-primary-light: #d94d4c;
  --ifm-color-primary-lighter: #d94d4c;
  --ifm-color-primary-lightest: #d94d4c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__link {
  color: white;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: #d94d4c;
}

.navbar__brand {
  color: white;
  transition: color 0.3s;
}

.navbar__brand:hover  {
  color: #d94d4c;
}

.theme-doc-sidebar-container {
  flex: 0 0 250px;
  width: 250 !important;
  min-width: 200px;
  max-width: 300px;
}

/* Réduit un peu le padding intérieur */
.theme-doc-sidebar-container .menu__list-item {
  padding: 3px 0;
}

.theme-doc-sidebar-item-link,
.theme-doc-sidebar-item-category .menu__list-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Ajuste le contenu principal pour correspondre */
.theme-doc-main {
  margin-left: 250px !important;
}

.menu__link {
  line-height: 19px;
  font-weight: 600;
  white-space: normal;
  word-break: break-word;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  padding: 6px 12px;
}

.menu__caret {
  opacity: 0.8;
  transform: translateY(1px);
}
